# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/app/build/
android/.gradle/
*.apk
*.aab

# iOS  
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
